<div class="cloture">
  <p class="cloture">
  {{ .Site.Params.Cloture }}
</p>
</div>
<footer>
  <div style="display:flex">
    <a rel="alternate" target="blank" href="https://ecrituresnumeriques.ca/fr/" title="CRCEN">
      <img src="images/crcen.png" alt="crcen" style="width: 13em;"/></a><a class="border"></a>
    {{- range $index, $key := .Site.Params.Social -}}
    <a class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
    <a class="border"></a>
    {{- end -}}
  </div>
  <div class="footer-info">
    {{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} | {{ end }}Thème <a
      href="https://github.com/athul/archie">Archie</a> modifié par l’équipe de la <a href="https://ecrituresnumeriques.ca" title="Chaire de recherche du Canada sur les écritures numériques">CRCÉN</a>
  </div>
</footer>
{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}

{{- if (isset .Site.Params "social") -}}
<script>
  feather.replace()
</script>
{{- end -}}
