{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Les balados de la thématique "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">{{ .Title }}</h1>
{{ end }}

<ul class="podcasts">
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="podcast">
			<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
		</li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}
