{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ with .Params.numero }}{{ . }}. {{ end }}{{ .Title | markdownify }}</h1>
			<div class="meta"></div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section>
			{{- .Params.description_longue | markdownify -}}
	</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>

		<section>
      {{- if .Params.spotify_embed_url }}
			<!-- Lecteur Spotify embarqué -->
      <iframe
        src="{{.Params.spotify_embed_url}}"
        height="{{ .Site.Params.spotify_embed_height | default "152px"}}"
        width="{{ .Site.Params.spotify_embed_width | default "100%"}}"
        frameborder="0"
        scrolling="no"
      ></iframe>
      {{ end -}}

      <p>
        {{- if .Params.mp3 }}
        <!-- Auto-hébergement -->
        <a href="{{ .Params.mp3 }}">Télécharger l'audio au format MP3</a>
        {{ end -}}

        {{- if .Params.apple_url }}
        <!-- Apple Podcasts -->
        <a href="{{ .Params.apple_url }}">Apple Podcasts</a>
        {{ end -}}
      </p>
		</section>

		<section class="body">
			{{- .Content -}}
	</section>
	</article>
</main>
{{ end }}
